body {
  background-color: #F5F5F5;
  color: #333;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #F5F5F5;
  padding: 20px;
  text-align: center;
}

h2, p {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(78, 78, 78, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: ease-in 5s 3s forwards;
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.img-card {
  display: flex;
  align-items: center;
}

.container img {
  max-width: 30%;
  flex: 0 0 auto;
  margin-right: 20px;
}

.container p {
  flex: 1;
  text-align: left;
}

.project-link {
  display: block;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: #F5F5F5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a {
  display: block;
  text-align: left;
  text-decoration: underline;
  color: #333;
}

a:hover {
  color: #666;
}

i {
  text-align: center;
}

.project-link:hover {
  background-color: #666;
}

.anim-typewriter {
  animation: typewriter 1s steps(40) 0.3s 1 normal both;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 9em; background-color: #666; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  99% { border-left: none; }
  100% { border-left: 2px solid #333; }
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid #333;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes ease-in {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}