@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu:ital,wght@0,500;1,500&display=swap');
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root{
  --brand-dim: var(--orange-4);
  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);
  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);
  --surface-shadow-dim: var(--gray-9-hsl);
  --shadow-strength-dim: 20%;
}

/* Resume.html */
.resumebody body{
    
    background-image: url(imgs/rainbow.jpg);
    background-color: black; /* Used if the image is unavailable */
  position: static;
  height: 100vh; /* You must set a specified height */
  background-position: 50% 60%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
}
.work-experiance-entry{
  margin-top: 5px;
  border-style: inset;
  border-color: white;
  transition-duration: 300ms;
}
.work-experiance-entry:hover{
  background-color: black;
}
/* --------- */
/* General componants */
body{
    margin: 0;
    background-color: var(--surface-shadow-dim);
    color: white;
    font-family: 'Source Code Pro', monospace;
}
a {
  display: inline block;
  padding: 0 5px;
box-shadow: inset 0 0 0 0 white;
transition: all 0.5s ease-in-out 0s;
  font-size: 1.4em;
  color: white;
  
}
a:hover {
box-shadow: inset 0 -300px 0 0 white;
  color: black;
  text-shadow: none;
  text-decoration-color: var(--brand-dim);
}
/* --------- */
/* Cards and Classes */
.card{
    font-family: 'Source Code Pro', monospace;
    color: white;
    position: absolute;
    top: 15%;
    left: 55%;
    
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.Page-card{
  margin: auto;
  width: 50%;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  padding: 0px;
  text-align: center;
  background-color: rgba(107, 107, 107, 0.507);
  animation: resumeload 3000ms;
}
/* Update the font size for better readability on small screens */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
.Header-card{
  background-color: rgba(39, 39, 39, 0.507);
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  position: relative;
  
}

.ghost_img{
    background-image: url(imgs/ghost.jpg);
    z-index: -1;
  background-color: black; /* Used if the image is unavailable */
  position: static;
  height: 100vh; /* You must set a specified height */
  background-position: 50% 60%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0px 5px 5px black;
}
.projects-row{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  width: auto;
  text-align: center;
  position: relative;
  border-style: solid;
  border-color: wheat;
  padding: 20px 40px 0px;
  gap: var(--size-2);
  
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.project-card{
  display: grid;
  gap: var(--size-2);
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  background: var(--surface-2);
  border-radius: var(--radius-2);
  transition-duration: 200ms;
}
.project-card:hover{
  background: var(--surface-3);
}
.project-card > img{
  position: relative;
  inline-size: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}
.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 1px 1px 2px black;
  color: white;
  
}
.row-seperator{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 2px black;
  
  border-bottom: solid;
}
.snaps-inline{
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

nav{
  width: 100%;
  display: inline;
}
@keyframes resumeload {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}