@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu:ital,wght@0,500;1,500&display=swap');
body{
    margin: 0;
    font-size: 100%;
    background-color: black;
}
.About-card{
    font-family: 'Source Code Pro', monospace;
    color: white;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 55%;
    width: 25%;
    text-align: center;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    display: inline block;
    color: lightblue;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-size: 1.2em;
  }
a:hover {
    box-shadow: inset 100px 0 0 0 black;
    color: white;
  }
ul {
    display: inline-block;
    list-style-type: none;
}
li {
    padding: 10px;
}
.ghost_img{
    background-image: url(imgs/ghost.jpg);
    z-index: -1;
  background-color: black; /* Used if the image is unavailable */
  position: static;
  height: 100vh; /* You must set a specified height */
  background-position: 50% 60%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}