body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fde6e6; /* light pink */
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.flower {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #ffcccc; /* light red */
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.flower:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.08);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    transition: transform 0.5s;
    transform: translateY(0);
}
img{
    max-width: 200px;
    max-height: 200px;
}
.container.hidden {
    transform: translateY(100%);
}

.flower-garden {
    margin-top: 20px;
}

#love-letter, #pictures {
    margin-top: 20px;
    transition: transform 0.5s;
    transform: translateY(0);
}

#love-letter.hidden, #pictures.hidden {
    transform: translateY(-100%);
}

.hidden {
    display: none;
}


.rainbow-text {
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400%;
    color: transparent;
    -webkit-background-clip: text;
    animation: rainbow 8s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400%;
    }
}